.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 50px;
    padding: 15px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .center {
      display:flex;
      justify-content:center;
  }

  .title {
    padding-top: 98px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-header-cell {
    color: #343a40;
    font-weight: bold;
    font-size: 16px;
}