<div class="page-wrap">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <mat-card class="text-center">
        <img mat-card-image src="../../assets/imgagens/banner.png">
        <mat-card-content>
          <h3>Bem-vindo!!</h3>
          <p>
            Hi Pets Association, é uma sociedade sem fins lucrativos criada para ajudar
            animais sem lar a encontrar um bom dono que os ame e proteja.
            <br>
            <br>
            <b>Quer fazer parte desta grande família :)</b>
            <br>
            Junte-se a nós adotando um animal de estimação.
          </p>
          <h5 class="text-danger"><i>Faça a diferença!!</i></h5>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="login()" type="button" class="btn btn-outline-success btn-sm">
            <i class="material-icons left">pets</i>&nbsp;Entrar&nbsp;<i class="material-icons right">pets</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </main>
  </div>
</div>